*{
    overflow: hidden;
}
@media (max-width: 575.98px){
    html,body{
        text-align: center;
    }
}

/* Conteudo do cabeçalho */

.infomacao{
    padding-top: 150px;
    height: 500px;
    text-align: center;
    background-image: url(img/4884841.jpg);
    background-position:center;
    background-size: cover;
}
.introducao, .titulo, .subinformacao{
    /* background-color: black; */
    color:white;
}
.chaves{
    color:cyan;
}


