.caixar{
    border-bottom: 1px solid #e5e5e5;
    padding: 60px 0;
}
.intro{
    text-align: center;
    height:450px;
    background-image: url(../img/progra.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.intro, .tit, .sub{
    background-color: black;
    color: green;
}
.info, .tit, .sub{
    display: block;
    margin: 0 auto;
    
}
.titu{
    color: white;
}


.myfoto{
    width: 400px;
    height: 400px;
}
